[submodule "libcommon"]
	path = libcommon
	url = https://github.com/simplestmaker/libcommon.git
[submodule "src/libcommon"]
	path = src/libcommon
	url = https://github.com/simplestmaker/libcommon.git
